.proLinks {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;

  a {
    background-color: #cdedf6;
    padding: 0px;
  }
}
.card {
  border-radius: 20px;
  border: none;
  background-color: #cdedf6;
  margin-bottom: 40px;
  box-shadow: 6px 8px 0 rgba(0, 0, 0, 0.3);
  padding: 10px 10px 10px 10px;
}

#cardImg {
  width: 100%;
  max-width: 300px;
  max-height: 160px;
  border-radius: 15px;
  margin-bottom: 15px;
}

#encore {
  width: 100%;
  max-width: 315px;
  max-height: 200px !important;
  border-radius: 15px;
  margin-bottom: 15px;
}


.card-body {
  background-color: #cdedf6;
  border-radius: 30px;
  width: 386px !important;
  height: 5%;
}

.card-text {
  width: 355px !important;
  background-color: #cdedf6;
  font-size: 14px;
  font-family: 'Shadows Into Light Two', cursive !important;
  font-weight: 600;
  color: black;
  text-align:justify;
}

.backImg {
  background-color: #cdedf6;
}

.card-title {
  background-color: #cdedf6;
  font-family: 'Shadows Into Light Two', cursive !important;
  font-size: 30px;
  font-weight: 600;
  color: #3c45b4f0;
  margin-bottom: 15px;

}

#projectTitle {
  margin-bottom: 10px;
  margin-top: 25px;
  color: #00c5ff;
  font-size: 50px;
  font-weight: 600;
}


#projects {
  margin-top: 15px;
}

@media (min-width: 900px) {
  .card-body {
    width: 400px;
  }

  .card-text {
    width: 380px;
    // padding-right: 10px;
  }

  .card-image {
    width: 100%;
    max-width: 300px;
  }
  #back-to-top {
    margin-bottom: 30px;
  }
}

#wave {
  height: 60px;
  margin-bottom: 20px;
}



#proTitle {
  margin-bottom: 20px;
  margin-top: 25px;
  color: #00c5ff;
  font-size: 50px;
  font-weight: 600;
}

@media (max-width: 767px) {
  #projects {
    width: 320px;
    margin-right: 20px;
  }

  #projectTitle {
    margin-top: 0px;
  }

  #proTitle {
    margin-top: 0px;
  }

  .card {
    border: none;
    width: 320px;
    margin-bottom: 35px;
    box-shadow: 6px 10px 0 rgba(0, 0, 0, .2);
    padding: 0px 0px 0px 0px;
  }

  .card-body {
    width: 300px !important;

  }

  .card-text {
    width: 280px !important;
    // padding-right: 10px;
  }
}

.card-subtitle {
  background-color: #cdedf6;
  font-size: 20px;
  font-family: 'Shadows Into Light Two', cursive !important;
  padding-bottom: 20px;
  color: lightcoral !important;
  font-weight: 600;
}

.projects-scroll-container {
  overflow-x: auto;
  overflow-y: auto;
  margin-bottom: 40px;
  height: 625px;
}

.projects-row-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.scroll-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}


.scroll-content>* {
  flex: 0 0 auto;
}

/* Remove any default margins or paddings from the cards */
.scroll-content .card {
  margin: 0;
}

.col {
  height: 100%;
}

.projects-scroll-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}


.projects-scroll-container::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  /* Set the color of the scrollbar thumb */
  border-radius: 10px;
  /* Adjust the border radius of the scrollbar thumb */
}

.projects-scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #828282;
  /* Change color on hover */
}

#sub {
  font-size: 20px;
  color: lightcoral;
  font-family: 'Shadows Into Light Two', cursive !important;
  font-weight: 600;
  
  margin: 0 auto;
  margin-bottom: 20px;
}

